<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <!-- Console is set to be a ConsoleAppender -->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
	<param name="Threshold" value="INFO" />
	<file value="logfile.log" />
        <appendToFile value="true" />
        <!-- A1 uses PatternLayout -->
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
        </layout>
    </appender>
    
    <!-- Set root logger level to INFO and its only appender to Console -->
    <root>
        <level value="INFO" />
        <appender-ref ref="Console" />
    </root>
</log4net>